.cart-page {
  padding: 50px;
  text-align: center;
  background: #fefaf5;
  min-height: 100vh;
}

.cart-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  background: white;
  padding: 15px 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.cart-item img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
}

.cart-details {
  text-align: left;
  flex: 1;
}

.cart-quantity {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.cart-quantity button {
  width: 28px;
  height: 28px;
  border: none;
  background: #6f4e37;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button {
  margin: 8px;
  padding: 10px 20px;
  border: none;
  background: #6f4e37;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background: #8c5f48;
}

.remove-btn {
  background: #b23b3b;
}

.clear-btn {
  background: #b23b3b;
}
