.hero {
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero-content {
  background: rgba(0, 0, 0, 0.55);
  padding: 30px;
  border-radius: 10px;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-size: 1.3rem;
  margin: 10px 0 20px;
}
